


<h1> Asteroids</h1>
<a href="/"> Return </a>
<div class="row">
	<div class="col-xs-3 col-xs-offset-1 nbody-sidebar" style="color:white">
		<p>This rebuild of the class arcade game, asteroids, features smarter rocks to shoot. Namely they roughly follow a <a href="http://www.red3d.com/cwr/boids/">Boyd algorithm</a>. </p>
			
			
			<p>
				Use the A/D to rotate left/right, W/S to gas/brake, F to fire, and E to turn on and off "shields"
			</p>
	</div>
	<div class="col-xs-7 asteroids-container master-container" >
		<div  style="margin-top:1%">
			<canvas id="game-canvas"></canvas>
		</div>
	</div>
</div>

