/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
	background: black;
}

h1, h2, h3 {
	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h4 {
	color: white;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

div#header {
	height: 400px;
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center; // or center center
	background-repeat: no-repeat;
}

#ruby, #rails, #js, #backbone, #bootstrap, #node, #processing, #pg, {
	height: 100px;
	width: 100px;
	background-color: black;
//	background-size: cover;
//	background-position: center; // or center center
//	background-repeat: no-repeat;
}

#ruby img, #rails img, #js img, #backbone img, #bootstrap img, #processing img, #pg img, #latex img{
	height: 100px;
	width: 100px;
}

#node img{
	width: 200px;
	height: 100px;
}

#latex {
	width: 100px;
	height: 100px;
}

#node{
	width: 200px;
	height: 100px;
}

.technologies {
	list-style-type: none;
}

.technologies li {
	float: left;
}



.tech-li {
	color:white;
}

.portfolio-examples li:hover {
//	border: thin solid red;
	
}

.nbody-container *{
	outline: none;
	max-width: 550px;
}

.nbody-container {
	outline: none;
	max-width: 700px;
}


.portfolio-examples{
	list-style-type: none;
}

.inside{
	margin-top: -4%;
}

.pic-side {
	margin-top: 3%;
	width: 180px;
}
.front-list{
	margin-left: -20%;
	color: white;
	list-style-type: none;
}

div.main-sidebar{
//		margin-top:-36.6%;
	margin-left: -.7%;
	background-color: rgba(200,200,200,0.5);	
}

.sidebar{

}

.master-container{
	background-color: rgba(100,100,100,0.5);
}

.nbody-sidebar{
	height: 405px;
	width: 300px;
		background-color: rgba(200,200,200,0.5);	
}

div#research{
	color: white;
	font-size: 1.2em;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	height: 500px;
}

ul.front-list li{
	margin-top: -5%;
}