<!DOCTYPE html>
<html>
<head>
  <title>Andrew McNutt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
	
  <%= csrf_meta_tags %>
</head>
<body  class="scroll-area" data-spy="scroll" data-target="#scroll-spy-links">

<%= yield %>

</body>
</html>
